<div class="d-flex align-items-center">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/008/846/297/small/cute-boy-avatar-png.png" referrerpolicy="no-referrer" class="rounded-circle object-fit-cover me-2" width="40px"
        height="40px" alt="" />
    <div class="info-box">
        <p class="m-0 text-warning fw-bold lh-1" [title]="user.username" style="font-size:16px;">
                {{ user.username.toUpperCase() }}
        </p>
        <p class=" m-0 text-light opacity-50 email" [title]="user.email" style="font-size:13px;">
            {{ user.role }}
        </p>
    </div>
</div>